@model MVC_Blog_Bountry_Entity.Model.Comments

@using (Html.BeginForm("CommentAdd", "Home", FormMethod.Post))
{
    <div class="form-group form-inline">
        <div class="form-group col-lg-6 col-md-6 name">
            @Html.TextBoxFor(a => a.FullName, new { @class = "form-control", @value = "FullName " })
        </div>
        <div class="form-group col-lg-6 col-md-6 email">
            @Html.TextBoxFor(a => a.Email, new { @class = "form-control", @value = " " })
        </div>
    </div>
                        <div class="form-group">                           
                            @Html.TextBoxFor(a => a.Subject, new { @class = "form-control",@value=" " })
                        </div>
                        <div class="form-group">                            
                            @Html.TextAreaFor(a=>a.Comment, new { @class = "form-control", @value = " " })
                        </div>
                        @Html.TextBoxFor(a=>a.PostId,new {style="display:none;"})
                        <input type="submit" value="Send Message" class="primary-btn submit_btn text-uppercase">
}

